{% extends 'main/base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
<div class="container-fluid" align="center">
    <img src="static/main/image/adress.jpg"   width="1200" height="600" hspace="30">

</div>


<div style="padding-top:0px" class="footer" id="footer ">

               <div class="footer-main">
                  <div class="container">
                     <div class="row">
                        <div class="col-lg-3 col-md-6 footer-widget footer-about">

                        <div id="text-4" class="widget widget_text"><h4 class="widget-title">Контакты</h4>			<div class="textwidget"><ul>
<li>Беларусь, Могилев, п-т Шмидта 1в</li>
<li><span class="Apple-style-span">МТС: +375 (29) 394-54-84</span>
<p><span class="Apple-style-span">А1: +375 (29) 744-54-84</span></p></li>
<li>Почта: mogilev.avto.sto@gmail.com</li>
</ul>
</div>
		</div>                        </div> <!-- Col End -->
                        <!-- About us end-->
                        <div class="col-lg-3 col-md-6 footer-widget widget-service">
                                                   </div> <!-- Col End -->
                        <div class="col-lg-3 col-md-6 footer-widget news-widget">
                        <div id="search-5" class="footer-area-3 widget_search"><h4 class="widget-title">Поиск по сайту</h4>
        <form method="get" action="https://mogilev-sto.by/" class="autrics-serach">
            <div class="input-group">
                <input type="search" class="form-control" name="s" placeholder="Search" value="">
                <button type="submit" class="input-group-btn"><i class="fa fa-search"></i></button>
            </div>
        </form></div>                        </div> <!-- Col End -->
                        <div class="col-lg-3 col-md-6 footer-widget">
                        <div id="xs-service-4" class="widget automobil-widget"><h4 class="widget-title">Время работы</h4>
	     <ul class="unstyled service-time">
	     	       	                     <li>
                        <span> Понедельник </span>
                        <span>09:00–18:00</span>
                     </li>
                                        	                     <li>
                        <span> Вторник</span>
                        <span>09:00–18:00</span>
                     </li>
                                          	                     <li>
                        <span> Среда</span>
                        <span>09:00–18:00</span>
                     </li>
                                          	                     <li>
                        <span> Четверг</span>
                        <span>09:00–18:00</span>
                     </li>
                                          	                     <li>
                        <span> Пятница</span>
                        <span>09:00–18:00</span>
                     </li>

                                          <li>
                        <span> Суббота </span>
                        <span>09:00–18:00</span>
                     </li>

                                          <li>
                        <span> Вочкресенье </span>
                        <span>09:00–18:00</span>
                     </li>


</div>


{% endblock %}