{% extends 'main/base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}

<div class="conteiner fst-italic text-white text-decoration-none center ">
    <h1 style="text-align:center">Ремонтируем и обслуживаем автомобили всех популярных производителей</h1>
    <h2 style="text-align:right ">тел: +375(99)999-99-99 </h2>
    <h4 style="text-align:right ">для зарегистрированных пользователей скидка 5%</h4>
</div>


<body>
    <style>
      body {
      background-image: url("static/main/image/fon.jpg");
      background-size: 100%;
    }
    </style>

</body>


{% endblock %}